<h1>StaticPages#home</h1>
<head>
  <title>Home | Ruby on Rails Tutorial Sample App</title>
</head
<p>this is the home page
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>
